@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: transparent;
}

@layer base {
  h5 {
    line-height: 16px;
  }
}
@layer componants {
}
@layer utilities {
}
.noScrollBar::-webkit-scrollbar {
  display: none;
}
